.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 50%; 
    margin-top: 20px;
  }
  
  .buttons button {
    flex-grow: 1; 
    margin: 0 10px; 
  }
  

  .title {
    text-align: center;
    margin-top: 1rem; /* adjust this value as needed */
    margin-bottom: 0rem; /* adjust this value as needed */
    font-size: 2rem;
    background: linear-gradient(to right, black, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  